{% extends 'base.html' %}
{% load thumbnail %}

{% block title-head %}
    Online Shop
{% endblock %}

{% block lead %}
    this project made with Django 💎 ❤️ Home PAGE
{% endblock %}

{% block content %}
    {% for category in categories %}
        <div class="btn-group">
            <a href="{{ category.get_absolut_url }}" class="btn btn-danger">{{ category.name }}</a>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                    aria-expanded="false">

            </button>
            <ul class="dropdown-menu">
                {% for sub in category.sub_categories.all %}
                    <li><a class="dropdown-item" href="{{ sub.get_absolut_url }}">{{ sub.name }}</a></li>
                {% endfor %}

            </ul>
        </div>
    {% endfor %}
    <br><br>
    <br><br>
    {% for product in products %}
        <div class="card" style="width: 18rem; display: inline-block">
            {% thumbnail product.image "300x300" as img %}
                <img src="{{ img.url }}" class="card-img-op" alt="...">
            {% endthumbnail %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description|truncatewords:5 }}</p>
                <a href="{{ product.get_absolut_url }}" class="btn btn-primary">show detail</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}